html, body.auth_class {
  background: #f9f4ff;
}
.login-container {
  margin-top: 10%;
  margin-bottom: 137px;
  border: 0px solid #CCD1D1;
  border-radius: 12px;
  box-shadow: 0 0px 28px 0 rgb(0 0 0 / 8%);
  max-width: 50%;
  background: #FFF;
  z-index: 1;
  position: relative;
}

@media (max-width: 440px) {
  .login-container {
    margin-top: 10%;
    margin-bottom: 20%;
    border: 0px solid #CCD1D1;
    border-radius: 12px;
    box-shadow: 0 0px 28px 0 rgb(0 0 0 / 8%);
    max-width: 100%;
    background: #FFF;
    z-index: 1;
    position: relative;
  }


  }




img.triangleA {
  position: absolute;
  margin-left: -16px;
  width: 60px;
  border-radius: 12px 0px 0px 0px;
}
img.triangleB {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 360px;
  z-index: 0;
}
.welcome_auth {
  align-items: center;
  display: flex;
  justify-content: center;
}
.auth_welcome a {
  font-weight: 400;
}
.auth_welcome {
  font-weight: 100;
  font-size: 1.5em;
  background: -webkit-linear-gradient( 45deg, #07dd97, #beffe7);
  background-size: 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-color: black;
  max-width: 170px;
}
a.auth_branding_in img {
  width: 60px;
  height: 60px;
  border-radius: 1000px;
}

.login-form {
  background: #fbfbfb;
  border-radius: 0px 12px 12px 0px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.login_form_in {
  padding: 4em 1em;
}
.login-form h1 {
  font-size: 1.2em;
  max-width: 600px;
  margin: 0 auto;
  color: #969696;
  line-height: 1.5em;
  padding: 1.2em 0px .8em;
}
.lni {
  display: inline-block;
  font: normal normal normal 1em/1 'LineIcons';
  speak: none;
  text-transform: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.google_signup {
  margin-top: .8em;
}
.google_signup a {
  background: #DB4437;
  color: #FFF;
  display: block;
  text-align: center;
  padding: 12px 4px;
  border-radius: 5px;
}
.btn-primary {
  color: #fff;
  background-color: #5d00ff;
  border-color: #5d00ff;
}
.btn-primary:hover {
  color: #fff;
  background-color: #2900b7;
  border-color: #2900b7;
}
.google_signup a {
  background: #DB4437;
  color: #FFF;
  display: block;
  text-align: center;
  padding: 12px 4px;
  border-radius: 5px;
}
.google_signup a:hover {
  background: #d81505;
  color: #FFF;
}
.other_auth_links a:nth-child(2) {
  float: right;
}
a {
  text-decoration: none;
  color: #afafaf;
}
a:hover {
  text-decoration: none;
  color: #616161;
}
.alert-success {
  background-color: rgb(190 255 231 / 33%);
  color: #07dd97;
  font-size: .9em;
}
