section {
  display: block;
  height:78%;
  width:100%;
  padding: 10px;
  padding-left: 120px;
  box-sizing:border-box;
}
.btn{
  border-radius: 8px;
}
@media(max-width:480px){
  section {
    display: block;
    height:78%;
    width:100%;
    padding: 10px;
    margin-bottom: 50px;
    box-sizing:border-box;
  }
  .btn{
    font-size: 10px;
    border-radius: 8px;
  }
}
@media(max-width:440px){
  section {
    display: block;
    height:78%;
    width:100%;
    padding: 30px;
    margin-bottom: 300px;
    box-sizing:border-box;
  }
  .btn{
    font-size: 13px;
    border-radius: 8px;
    padding: 5px 5px;
  }
}
@media(max-width:380px){
  section {
    display: block;
    height:78%;
    width:100%;
    padding: 30px;
    margin-bottom: 300px;
    box-sizing:border-box;
  }
  .btn{
    font-size: 10px;
    border-radius: 8px;
    padding: 2px 2px;
  }
}
