<section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4">
          <div class="card-body text-center">
            <img [src]="userData.photoURL" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{userData.displayName}}</h5>
            <div class="d-flex justify-content-center mb-2">
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="card mb-4">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Full Name</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userData.displayName}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Email</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">{{userData.email}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">Phone</p>
              </div>
              <div class="col-sm-9">
                <p class="text-muted mb-0">+216 {{userData.phone}}</p>
              </div>
            </div>
            <hr>
            <div class="row">
              <div class="col-sm-3">
                <p class="mb-0">email Verified</p>
              </div>
              <div class="col-sm-9">
                  <p class="text-muted mb-0">

                    <mat-chip-list aria-label="Dog selection">
                      <mat-chip [color]="userData.emailVerified" selected>
                         verified
                      </mat-chip>

                      <div class="example-button-container" *ngIf="userData.emailVerified == 'warn'" >
                        click to send email verification &nbsp;&nbsp;&nbsp;
                        <button mat-mini-fab color="accent" aria-label="Example icon button with a plus one icon" (click)="send()" >
                          <mat-icon>forward</mat-icon>
                        </button>
                      </div>
                    </mat-chip-list>
                  </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

