<section>

<!-- Page content -->
<div class="w3-main">

  <div id="Borge" class="w3-container person">
    <br>
    <img  class="w3-round  w3-animate-top" src="https://lh5.googleusercontent.com/l4KY8KyFIgwUJ_aPR42o6INEbXi3ZSjxbcfAov-4tizHfrBz5xfrlrHoMykybMCiQ1r6xSPdfp72Ep05IB4GmLY2a-BgaJR4IQJaw3lWUM6rZl-6XaDg_gpFYJf5r8nu9w=w1653" style="width:20%;">
    <h5 class="w3-opacity arabic-text">مطلب مساهمة  في تحسين المقدرة الشرائية للمواطن التونسي بدفع جزء من القيمة المجانية لجذاذة هدية بالتسويغ لمساحة إشهار من ضمن عشرة على واجهتها الخلفية   2022 </h5>
    <hr>
    <p class="arabic-text">
      نحن شركة جواهر للإشهار نسوغ مساحات إشهار على الواجهات الخلفية لجذاذات هدية بقيمة عشرون دينارا يقتني بها المواطن المنتوجات التونسية فقط رمزها الشريطي 619 من اليسار من المساحات الكبرى، وذلك بشرط ان تكون القيمة الجملية للشراءات مائة دينارا على الأقل (عشرون دينارا هدية وثمانون دينارا يدفعها المواطن). ( أنموذج من جذاذة الهدية مصاحب لهذا المطلب)

  هذا المطلب يمكن الحريف من المساهمة في دفع جزء من القيمة المجانية لجذاذة الهدية بالتسويغ لمساحة اشهار من ضمن عشرة مساحات الموجودة بالواجهة الخلفية لكل جذاذة هدية، توضع عليها العلامة التجارية لشركته،  (الواجهة الخلفية لجذاذة الهدية الواحدة تتكون من عشرة مساحات اشهار تسوغ لشركات مختلفة وجوبا).

   جذاذات الهدية هي موضوع الاتفاقية المبرمة بين شركة جواهر للاشهار و شركة المغازة العامة وكذلك الشركة التونسية للكهرباء و الغاز(يمكن الاطلاع على محتواها عبر الرابط:........)، والتي تهدف بالاساس على ان تسند اسبوعيا ومجانا شركة جواهر للإشهار للشركة التونسية للكهرباء و الغاز جذاذات هدية بقيمة  عشرون  دينارا  (تشمل السعر، جميع الأداءات و أرباح  شركة المغازة العامة، و لا تحتوي على الانتفاع بإسترجاع إحدى البضائع المقتنية) التي تقوم  بتوزيعها على منخرطيها بدون مقابل للتزود بمنتوجات الشركات التونسية فقط ، رمزها الشريطي (619 من اليسار)، الواردة في الواجهة الخلفية لجذاذة الهدية، من مساحات شركة  المغازة العامة، وذلك بشرط ان تكون القيمة الجملية للشراءات مائة دينارا على الأقل (عشرون دينارا هدية وثمانون دينارا يدفعها المنخرط)، مقسمة بالتساوي على جميع انواع المنتوجات الواردة في الجهة الخلفية للجذاذة، أي قيمة عشرة دنانير على الأقل لكل شركة ساهمت في دفع جزء من القيمة المجانية للجذاذة.

  بالنسبة للجذاذات التى واجهتها الخلفية متكونة من عشرة مساحات إشهار (موضوع هذا المطلب)، قيمة المساهمة لشركتكم بتسويغ المساحة الواحدة دينارين تونسية تشمل الأداء على القيمة المضافة، مقابل عشرة دنانير على الأقل شراءات منتوجاتكم من المستفيد بالجذاذة. وتكون الطلبية بالألف (مساحة واحدة على الواجهة الخلفية  لكل جذاذة) فقط.

  فيما يلي الرجاء تعمير بطاقة الإرشادات المصاحبة، وبمجرد إرسال هذا المطلب، تقوم مصلحتنا بمدكم  بفاتورة تقديرية عبر البريد الالكتروني للإطلاع.
    </p>
  </div>
  <br>
  <div>
  <span>Email :   <a href="mailto:jaweheer.foradversiting@gmail.com">jaweheer.foradversiting@gmail.com</a></span>
  <br>
  <span> Phone : <a href="tel:+21628029817">+216 28 029 817</a></span>
  <br>
  <span>Facebook: <a href="https://www.facebook.com/JaweheerForAdversiting" target="_blank"> JaweheerForAdversiting</a></span>
  </div>


  </div>

</section>
