<footer class="text-center text-white " style="background-color: #0a4275; margin-bottom: 0;">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1"
        style="background-color: #3b5998;"
        href="https://www.facebook.com/Apact.tn"
        target="_blank"
        role="button"
        ><i class="fa fa-facebook" aria-hidden="true"></i>
      </a>

      <!-- Google -->
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1"
        style="background-color: #dd4b39;"
        href="mailto:tn.apact@gmail.com"
        target="_blank"
        role="button"
        ><i class="fa fa-google" aria-hidden="true"></i>
      </a>

      <!-- Github -->
      <a
        mdbRipple
        class="btn btn-primary btn-floating m-1"
        style="background-color: #333333;"
        href="https://github.com/ImeedAttia/apact.tn"
        target="_blank"
        role="button"
        ><i class="fa fa-github" aria-hidden="true"></i>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2020 Copyright:
    <a class="text-white" href="https://apactnn.software/">Apact</a>
  </div>
  <!-- Copyright -->
</footer>
