<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="https://firebasestorage.googleapis.com/v0/b/apact---tn.appspot.com/o/clipart2445863.png?alt=media&token=29f36032-e582-4f58-9963-d9c8963392d7" alt="" width="30" height="24" class="d-inline-block align-text-top">
        Apact
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
           <!-- Home Page-->
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">
              <mat-chip
                routerLink="/home"
                routerLinkActive="selectedNav"
                title="profile"
                >
                  <span>
                  <mat-icon>
                    home
                  </mat-icon>
                  </span> &nbsp; Home
              </mat-chip>
            </a>
          </li>
          <!-- About Us-->
          <li class="nav-item">
            <a class="nav-link"><mat-chip
              routerLink="/aboutus"
              routerLinkActive="selectedNav"
              title="profile"
              >
                <mat-icon>
                  public
                </mat-icon>
                  About us
                </mat-chip></a>
          </li>
          <!-- reditser-->
          <ng-template [ngIf]="!isLoggedIn">
            <li class="nav-item">
              <a class="nav-link" routerLink="/register">
                <mat-chip
                routerLink="/register"
                routerLinkActive="selectedNav"
                title="register"
                >
                  <span>
                    <mat-icon>
                      how_to_reg
                    </mat-icon>
                  </span> &nbsp; Register
                </mat-chip>
              </a>
            </li>
          </ng-template>
                    <!-- login-->
          <ng-template [ngIf]="!isLoggedIn">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">
                <mat-chip
                routerLink="/login"
                routerLinkActive="selectedNav"
                title="login"
                >
                  <span>
                    <mat-icon>
                      login
                    </mat-icon>
                  </span> &nbsp; Login
                </mat-chip>
              </a>
            </li>
          </ng-template>
          <!-- Profile-->
          <ng-template [ngIf]="isLoggedIn">
            <li class="nav-item">
              <a class="nav-link" routerLink="/profile">
                <mat-chip
                routerLink="/profile"
                routerLinkActive="selectedNav"
                title="profile"
                >
                  <img
                    [src]="userData.photoURL"
                    class="rounded-circle"
                    height="22"
                    alt=""
                    loading="lazy"
                  />
                  <strong>
                    &nbsp; {{userData.displayName}}
                  </strong>
                </mat-chip>
              </a>
            </li>
          </ng-template>
          <!-- logout-->
          <ng-template [ngIf]="isLoggedIn">
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">
                <mat-chip
                routerLink="/login"
                routerLinkActive="selectedNav"
                title="logout"
                (click)="logout()"
                >
                  <span>
                    <mat-icon class="logout">
                      logout
                    </mat-icon>
                  </span> &nbsp; Logout
                </mat-chip>
              </a>
            </li>
          </ng-template>
        </ul>
      </div>
    </div>
  </nav>
