<section>
  <div class="card-body">
    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
        <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-3">Sign up </p>
      <form  [formGroup]="form" class="mx-1 mx-md-4" (ngSubmit)="onSubmit()">
        <!-- Email input -->
        <div class="d-flex flex-row align-items-center mb-3">
          <i class="me-3">
            <mat-icon>
              email
            </mat-icon>
          </i>
          <mat-form-field class="form-outline flex-fill mb-0" appearance="fill">
            <mat-label
              class="form-label"
              for="Email"
            >
              Email address
            </mat-label>
            <input
              matInput
              type="email"
              id="email"
              placeholder="Enter a valid email address"
              formControlName="email"
              [errorStateMatcher]="matcher"
              name="email"
              required
              />
            <mat-error
              *ngIf="email?.hasError('email') && !email?.hasError('required')">
              Please enter a valid <strong>email</strong> address
            </mat-error>
            <mat-error
              *ngIf="email?.hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
         <!-- Password input -->
        <div class="d-flex flex-row align-items-center mb-3">
          <i class="me-3">
            <mat-icon>
              lock
            </mat-icon>
          </i>
          <mat-form-field class="form-outline flex-fill mb-0" appearance="fill">
            <mat-label
              class="form-label"
              for="password"
            >
              Password
            </mat-label>
            <input
              matInput
              type="password"
              id="password"
              placeholder="Enter password"
              formControlName="password"
              [errorStateMatcher]="matcher"
              [type]="hide ? 'password' : 'text'"
              name="password"
              required
            />
            <button
              type="button"
              mat-icon-button matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error
              *ngIf=" password?.hasError('pattern') && !password?.hasError('required')"
            >
              Must contain at least <strong>one number</strong> and <strong>one uppercase</strong> and <strong>lowercase letters</strong> ,
              and at <strong>least 8</strong> or more characters.
            </mat-error>
            <mat-error
            *ngIf="password?.hasError('minlength') && !password?.hasError('required')"
            >
              Password must have <strong>{{password?.errors?.['minlength'].requiredLength}}</strong> Letters ,You have Submitted <strong>{{password?.errors?.['minlength'].actualLength}}</strong> Letters
            </mat-error>
            <mat-error
              *ngIf=" password?.hasError('required')"
            >
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Confirmation Password input -->
        <div class="d-flex flex-row align-items-center mb-3">
          <i class="me-3">
            <mat-icon>
              vpn_key
            </mat-icon>
          </i>
          <mat-form-field
            class="form-outline flex-fill mb-0"
            appearance="fill"
          >
            <mat-label
              class="form-label"
              for="cPassword"
            >
              Confirm Password
            </mat-label>
            <input
              matInput
              type="password"
              id="cPassword"
              placeholder="Enter password"
              formControlName="cPassword"
              [errorStateMatcher]="matcher"
              [type]="hide ? 'password' : 'text'"
              name="cPassword"
              required
            />
            <button
              type="button"
              mat-icon-button
              matSuffix (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error
              *ngIf="cPassword?.hasError('passwordMismatch')">
              Password does not match
            </mat-error>
            <mat-error
              *ngIf=" cPassword?.hasError('required')"
            >
              Password confirmation is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
        <!-- Connect with google -->
        <div class="divider d-flex align-items-center mb-4">
            <p class="text-center fw-bold mx-3 mb-0">Or use  </p>
            <button mat-raised-button class="btn btn-danger" type="button" (click)="googlesignin()" ><i class="fa fa-google-plus"></i>&nbsp;Google</button>&nbsp;&nbsp;&nbsp;
            <button mat-raised-button class="btn btn-primary" type="button" (click)="facebookSignin()" ><i class="fa fa-facebook"></i>&nbsp;Facebook</button>
        </div>
        <!--agree Terms of service -->
          <!-- [ngModelOptions]="{standalone: true}" : to make [(ngmodel)] works on its own -->
        <div class="form-check d-flex justify-content-center mb-5">
            <mat-slide-toggle
              color="primary"
              [ngModelOptions]="{standalone: true}"
              [(ngModel)]="IsAccepted"
            >
              I agree all statements in
            </mat-slide-toggle>
            <label class="form-check-label" for="form2Example3">
             <a href="#!" class="link-danger">Terms of service</a>
            </label>
        </div>
        <!--Register Button-->
        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
          <button
            mat-raised-button
            type="submit"
            color="primary"
            class="btn btn-primary btn-lg btn-block">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  Register  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          </button>
        </div>

      </form>
      </div>
      <!--Image-->
      <div class="col-md-9 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
             class="img-fluid"
             alt="Register Image"
        >
      </div>
    </div>
  </div>
</section>

